.NewsMain {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    /* flex-direction: column; */
}

.NewsContainer {
    width: 400px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    border: 0px solid rgb(37, 99, 214);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms ease-in-out;
    overflow: hidden;
    flex-basis: 100%;
    border: 1px solid rgb(245, 245, 245);
    cursor: pointer;
}

.NewsContainer:hover {
    background-color: rgb(245, 245, 245);
    transition: 300ms ease-in-out;
}

.NewsTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: rgb(20, 33, 51);
    margin: 15px 10px 10px 5px;
}

.NewsDesc {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.NewsImage {
    height: 300px;
    width: auto;
    max-height: 300px;
}